<h3> Post Form</h3>
<form action="<%=posts_path%>" method="post">
<input type="text" id="title" name="post[title]"><br>
<label>Post description:</label></br>
<textarea id="description" name="post[description]"></textarea><br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Submit Post">

</form>
<%=params.inspect%>
