<h1>Post Form</h1>

<form method="POST" action="<%= posts_path %>">
  <label>Post Title:</label>
  <input type="text" name="post[title]" id="title"><br><br>

  <label>Post Description:</label>
  <textarea id="description" name="post[description]"></textarea><br><br><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>